@model CompanyStatisticViewModel

    <ul class="nav nav-list well">
        <li @(Model.Selected == "1" ? "class=active" : "")><a href="@Url.Action("Details", "Companies", new { id = Model.CompanyId })"><i class="icon-home"></i> Главная</a></li>
        <li @(Model.Selected == "2" ? "class=active" : "")><a href="@Url.Action("Reviews", "Companies", new { id = Model.CompanyId })"><i class="icon-comment"></i> Отзывы </a></li>
        <li @(Model.Selected == "3" ? "class=active" : "")><a href="@Url.Action("Photos", "Companies", new { id = Model.CompanyId })"><i class="icon-camera"></i> Фотографии</a></li>
        <li @(Model.Selected == "4" ? "class=active" : "")><a href="@Url.Action("Work", "Companies", new { id = Model.CompanyId })"><i class="icon-user"></i> Вакансии</a></li>
    </ul>