@model DetailsViewModel

@{
    ViewBag.Title = Model.CompanyName;
    Layout = "~/Views/Shared/_CompanyDetailsViewModel.cshtml";
    ViewBag.SelectedNavigation = "1";
}

@section Breadcrumb{
    <ul class="breadcrumb">
                <li>
                    @Html.ActionLink("Главная", "List", "Companies") 
                </li>
                    <span class="divider">/</span>
                    <li>
                            <li class="active">@Model.CompanyName</li>   
                    </li>
                </ul>
}






@section Main{    
@using(Html.BeginForm()){
        <p> @Html.TextArea("Name", Model.CompanyName)</p>
         <p> @Html.TextArea("Address", Model.CompanyAddress)</p>
        <p> @Html.TextArea("Description", Model.CompanyDescription)</p>
        @Html.Hidden("CompanyId", Model.CompanyId)

        <input type="submit" class="btn"/>
        <a href="@Url.Action("Details", null, new { id = Model.CompanyId})" class="btn">Отмена</a>
    }
            @Html.ActionLink("редактировать", "Change", "Companies", new {id = Model.CompanyId}, new {@class = "btn  btn-primary btn-mini"})
 
            @Html.Partial("_CompanyNews6", @Model.News)
}


@section Service{
<div class="span4">
@using(Html.BeginForm()){
    @Html.ListBox("Service", Model.ServicesAll, new { dataPlaceholder="Choose a country..."  , style="width:350px", @class="chzn-select" } )
        <input type="submit" value="Изменить услуги" class="btn"/>
}
    </div>
}

@section Script{
<link href="../../Scripts/chosen.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="../../Scripts/chosen.jquery.min.js"></script>
<script type="text/javascript">

    $(document).ready(function () {
        $(function () {
            $(".p").popover();

            $(".chzn-select").chosen({ no_results_text: "No results matched" });
        });
    });

</script>

}