@model CompanyNavigationViewModel

    <ul class="nav nav-list well">
        <li @(Model.Selected == "1" ? "class=active" : "")><a href="@Url.Action("Details", "Companies", new { id = Model.CompanyId })"><i class="icon-home"></i> Основная информация</a></li>
        <li @(Model.Selected == "2" ? "class=active" : "")><a href="@Url.Action("Reviews", "Companies", new { id = Model.CompanyId })"><i class="icon-comment"></i> Отзывы (215)</a></li>
        <li @(Model.Selected == "3" ? "class=active" : "")><a href="#lB" ><i class="icon-wrench"></i> Услуги (4)</a></li>
        <li @(Model.Selected == "4" ? "class=active" : "")><a href="@Url.Action("Photos", "Companies", new { id = Model.CompanyId })"><i class="icon-camera"></i> Фотографии</a></li>
        <li @(Model.Selected == "5" ? "class=active" : "")><a href="#lC"><i class="icon-user"></i> Вакансии (2)</a></li>
    </ul>