@model DetailsViewModel

@{
    ViewBag.Title = Model.CompanyName;
    Layout = "~/Views/Shared/_CompanyDetailsViewModel.cshtml";
    ViewBag.SelectedNavigation = "1";
}

@section Breadcrumb{
    <ul class="breadcrumb">
                <li>
                    @Html.ActionLink("Главная", "List", "Companies") 
                </li>
                    <span class="divider">/</span>
                    <li>
                            <li class="active">@Model.CompanyName</li>   
                    </li>
                </ul>
}

@section Main{
        <h1>@Model.CompanyName</h1>
        <p>@Model.CompanyDescription</p>

            @Html.ActionLink("редактировать", "Change", "Companies", new {id = Model.CompanyId}, new {@class = "btn  btn-primary btn-mini"})
 
            @Html.Partial("_CompanyNews6", @Model.News)
}