@using Domain
@model Company

@{
    ViewBag.Title = Model.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Breadcrumb{
    <ul class="breadcrumb">
                <li>
                    @Html.ActionLink("Главная", "List", "Companies") 
                </li>
                    <span class="divider">/</span>
                    <li>
                            <li class="active">@Model.Name</li>   
                    </li>
                </ul>
}


<div class="span4">
    <a href="#" class="thumbnail">
        <img src="http://placehold.it/360x268" alt="">
        </a>

</div>

<div class="span5">
    <h1>@Model.Name</h1>
    <p>@Model.Description</p>
</div>

<div class="span3">    
    @Html.Partial("CompanyNavigation", new CompanyNavigationViewModel{ CompanyId = Model.Id.ToString(), Selected = "1"})
</div>