@model CompanyReviewsViewModel
@{
    ViewBag.Title = Model.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Breadcrumb{
    <ul class="breadcrumb">
                <li>
                    @Html.ActionLink("Главная", "List", "Companies") 
                </li>
                <li>
                    <span class="divider">/</span>
                    @Html.ActionLink(Model.Name, "Details", "Companies", new { id = Model.Id }, null)  
                </li>
                <li>
                    <span class="divider">/</span>
                    Отзывы 
                </li>
    </ul>
}
<div class="span9">


    @foreach (var review in Model.Reviews)
    {
                <div class="row">
                    <div class="span2 ">
                        <a  class="thumbnail">
                            <img src="http://placehold.it/160x120" alt="">
                        </a>
                        
                    </div>
                    <div class="span7">
                       
                        <h3>
                        @if (review.IsGood)
                        {
                            <span class="label label-success">хорошо</span>
                        }
                        else
                        {
                            <span class="label label-important">плохо</span>
                        }
                        <small> @review.Date</small></h3>
                        <p>@review.Text</p>
                    </div>
                </div>
    }

    @Html.Partial("_AddReviewForm", new AddReviewToCompanyCommand { CompanyId = Model.Id })
</div>
<div class="span3">    
    @Html.Partial("CompanyNavigation", Model.Navigation)
</div>