@model CompanyDetailsViewModel

@{
    ViewBag.Title = Model.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Breadcrumb{
    <ul class="breadcrumb">
                <li>
                    @Html.ActionLink("Главная", "List", "Companies") 
                </li>
                    <span class="divider">/</span>
                    <li>
                            <li class="active">@Model.Name</li>   
                    </li>
                </ul>
}


<div class="span4">
    <a href="#" class="thumbnail">
        <img src="http://placehold.it/360x268" alt="">
        </a>
            <div class="row">
@*        <div class="span4">
        <h2 class="p" data-content="перечислены услуги которы предостовляет компания <p><span class='label'>услуга сейчас не доступна</span></p> <p><a  class='btn btn-mini' >Услугу можно заказать нажав на кнопку</a></p>" data-original-title="Предоставляемые услуги">Предоставляемые услуги<i class="icon-question-sign"></i></h2>


        @for (int i = 1; i <= 11; i++)
        {
            <a class="btn btn-mini">Услуга</a>
        }
        <a class="btn btn-large">Заказать услугу</a>


        </div>
*@
       <div class="span3">
      <h3>Multiselect</h3>
    <select data-placeholder="Choose a country..." style="width:350px;" multiple class="chzn-select"">
    <option value="1">1</option>
    <option value="2" selected="selected">2</option>
    <option value="3" selected="selected">3</option>
    </select>
</div>
    </div>

</div>

<div class="span5">
        <h1>@Model.Name<small> @Model.Address</small></h1>
        <p>@Model.Description</p>
    @Html.ActionLink("редактировать", "Change", "Companies", new { id = Model.Id }, new { @class = "btn  btn-primary btn-mini" })
</div>

<div class="span3">    
    @Html.Partial("CompanyNavigation", Model.Navigation)
</div>



@section Script{
<link href="../../Scripts/chosen.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="../../Scripts/chosen.jquery.min.js"></script>
<script type="text/javascript">

    $(document).ready(function () {
        $(function () {
            $(".p") .popover();

            $(".chzn-select").chosen({ no_results_text: "No results matched" });
        });
    });

</script>

}