@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Breadcrumb{
    <ul class="breadcrumb">
                <li>
                    @Html.ActionLink("Главная", "List", "Companies") 
                </li>
                <li>
                    <span class="divider">/</span>
                   @* @Html.ActionLink(Model.Name, "Details", "Companies", new { id = Model.Id }, null)  *@
                </li>
                <li>
                    <span class="divider">/</span>
                    Отзывы 
                </li>
    </ul>
}
<div class="span12">
    <div class="row" >
      
<div class="span4">
        <div class="row">
    <div class="span4">
        <a href="#" class="thumbnail">
        <img src="http://placehold.it/360x268" alt="">
        </a>    
    </div>
</div>
        <div class="row">
        <div class="btn-group span2 " style="margin-top: 10px;">
          <a class="btn btn-large" href="@Url.Action("Photos")">@*<i class="icon-camera"></i>*@ Фотографии</a>
          <a class="btn btn-dropdown-toggle btn-large" data-toggle="dropdown" href="#"><span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Альбом1</a></li>
            <li><a href="#">Альбом2</a></li>
            <li><a href="#">Альбом3</a></li>
          </ul>
        </div>

        <div class="btn-group span2" style="margin-top: 10px; ">
          <a class="btn btn-large" href="@Url.Action("Photos")">@*<i class="icon-camera"></i>*@ Отзывы</a>
          <a class="btn btn-dropdown-toggle btn-large" data-toggle="dropdown" href="#"><span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Плохие</a></li>
            <li><a href="#">Хорошие</a></li>
          </ul>
        </div>
        </div>
        <div class="row">
                <a class="btn btn-large span4">Заказать услугу</a>
        </div>
        <div class="row">
                <a class="btn btn-large span4" style="display: block;">Показать на карте</a>
             
        </div>

    </div>
    <div class="span6">

    @Html.Partial("_CompanyInfo")

    </div>
    </div>
</div>